{% extends 'main.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block content %}
<style>
    img{
        mix-blend-mode: multiply;
    }
    #img_container:hover{
        transform: scale(1.2);
        transition: 1.5s;
    }
    a{
        text-decoration:none;
        color:black;
    }
</style>


{% include 'nav2.html' %}
<section class='container mt-5'>
    <div class='text-end mb-3'>
        <button  id='cartbtn' class='whish_btn text-success' data-bs-toggle="modal" data-bs-target="#checkoutModal"> Checkout <i class="fa-solid fa-cash-register fa-fade"></i></button>
    </div>
    <div>
        {% if cart %}
        <div class='row bg-light'>
            {% for item in cart %}
            <div class='col-sm-12'>
                <div class='row shadow my-3 p-3'>
                        <div class='col-sm-3' style='display:grid;align-content:center'>
                            <a href={% url 'product_view' item.product.slug %} style="text-decoration:none;">  
                            <img src={{item.product.product_image1.url}} class='d-block w-100' />
                        </a>
                        </div>
                    <div class='col-sm-3 text-center' id='center' style='display:grid;align-content:center'>
                        <h3>{{item.product.name}}</h3>
                        <p>({{item.product.varient}})</p>
                        <div>
                            <h5><i class="fa-solid fa-indian-rupee-sign"></i> <b class='text-success'>{{item.product.offer_price|stringformat:'d'}}</b> <small><strike class='text-secondary'>{{item.product.original_price|stringformat:'d'}}</strike></small> /-</h5>
                        </div>
                        
                    </div>
                    <div class='col-sm-3' style='display:grid;align-content:center'>
                        <h6>Details : </h6>
                        <p>{{item.product.small_description}}</p>
                    </div>
                    <div class='col-sm-3' style="display:grid;align-content:center;">
                        <h5>Qunatity:</h5>
                        <select class="form-select update_qty"  aria-label="Default select example">
                            <option selected >{{item.quantity}}</option>
                            <option >1</option>
                            <option >2</option>
                            <option >3</option>
                            <option >4</option>
                        </select>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
           
        {% else %}
        <section class='container'>
            <div>
                <div class='row'>
                    <div class='col-sm-6' style="display:grid;align-content:center;">
                        <img src={% static 'images/empty-cart.gif' %} class='d-block w-100' />
                    </div>
                    <div class='col-sm-6 text-center' style="display:grid;align-content:center;">
                        <h1>No Product Found <i class="fa-solid fa-exclamation fa-bounce"></i></h1>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
</section>

  
  <!-- Modal -->
  <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}