{% extends 'main.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block content %}
<style>
    img{
        mix-blend-mode: multiply;
    }
    #img_container:hover{
        transform: scale(1.2);
        transition: 1.5s;
    }
    a{
        text-decoration:none;
        color:black;
    }
    #center{
        display:grid;
        align-content:center;
    }
</style>


{% include 'nav2.html' %}
<section class='container mt-5'>
    {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>  
            {% endfor %}
    {% endif %}

    {% if cart %}
    <div class='text-end mb-3'>
        <button  id='cartbtn' class='whish_btn text-success' data-bs-toggle="modal" data-bs-target="#checkoutModal"> Checkout <i class="fa-solid fa-cash-register fa-fade"></i></button>
        <button class='btn btn-sm btn-outline-danger mx-3' type='submit' data-bs-toggle="modal" data-bs-target="#clearallModal">Clear Cart</button>
    </div>
    <div>
        <div class='row'>
            {% for item in cart %}
            <div class='col-sm-12 item' >
                <a href={% url 'delete_cart' item.id %} class='remove btn btn-sm btn-outline-dark p-2 my-2 ' style="display:none; width:100px">Remove <i class="fa-solid fa-trash"></i></a>

                    <div class='row bg-light shadow my-3 p-3'>
                        <div class='col-sm-3' style='display:grid;align-content:center'>
                            <a href={% url 'product_view' item.product.slug %} style="text-decoration:none;">  
                            <img src={{item.product.product_image1.url}} class='d-block w-100' />
                            </a>
                        </div>
                        <div class='col-sm-3 text-center' id='center' style='display:grid;align-content:center'>
                            <h3>{{item.product.name}}</h3>
                            <p>({{item.product.varient}})</p>
                            <div>
                                <h5><i class="fa-solid fa-indian-rupee-sign"></i> <b class='text-success'>{{item.product.offer_price|stringformat:'d'}}</b> <small><strike class='text-secondary'>{{item.product.original_price|stringformat:'d'}}</strike></small> /-</h5>
                            </div>
                        </div>
                        <div class='col-sm-3' style='display:grid;align-content:center'>
                            <h6>Details : </h6>
                            <p>{{item.product.small_description}}</p>
                        </div>
                        <div class='col-sm-3' style="display:grid;align-content:center;">
                            <h5>Qunatity:</h5>
                            <input type='number' value={{item.quantity}} class='form-control' readonly />                            
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
           
        {% else %}
        <section class='container'>
            <div>
                <div class='row'>
                    <div class='col-sm-6' style="display:grid;align-content:center;">
                        <img src={% static 'images/empty-cart.gif' %} class='d-block w-100' />
                    </div>
                    <div class='col-sm-6 text-center' style="display:grid;align-content:center;">
                        <h1>No Product Found <i class="fa-solid fa-exclamation fa-bounce"></i></h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endif %}

</section>

  
  <!--checkout Modal -->
  <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{cart_items}} {% if cart_items > 1 %}products {% else %}Product {% endif %}on the Way to checkout</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if cart %}
            <div class='row'>
                {% for item in cart %}
                    <div class='col-sm-4' style='display:grid;align-content:center'>
                        <img src={{item.product.product_image1.url}} class='d-block w-100 ' />
                    </div>
                    <div class='col-sm-4' style='display:grid;align-content:center'>
                        <h5>{{item.product.name}} <small>({{item.product.varient}})</small> </h5>
                        <h6><i class="fa-solid fa-indian-rupee-sign"></i> <b class='text-success'>{{item.product.offer_price|stringformat:'d'}}</b> <small><strike class='text-secondary'>{{item.product.original_price|stringformat:'d'}}</strike></small> /-</h6>
                    </div>
                    <div class='col-sm-4' style='display:grid;align-content:center'>
                        <input value={{item.quantity}} readonly class='d-block w-100' />
                    </div>
                <hr>
                {% endfor %}
            </div>
            <br>
            <div >
                <h5>Total Amout : <i class="fa-solid fa-indian-rupee-sign"></i><span class='text-success'> {{total|stringformat:'d'}}/- </span><strike class='text-secondary'>{{og_total|stringformat:'d'}} /- </strike></h5>
                <p>congrat's {{request.user.username}} saved <b>{{save_perce|stringformat:'d'}}</b> on this purchase </p>
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            <form method = 'POST' action={% url 'checkout_view' %}>
                {% csrf_token %}
                <a type='submit' class='btn btn-success checkout_btn' href={% url 'checkout_view' %}>Go To Checkout</a>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!--clear all Modal -->
  <div class="modal fade" id="clearallModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you Sure ?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% if cart %}
        <div class="modal-body">
            <p >Do you want to remove {% if cart_items == 1 %} the product from cart ? {% else %} all of the products from cart ? {% endif %} </p>
            <div class='row'>
                {% for item in cart %}
                    <li>{{item.product.name}} ({{item.product.varient}})</li>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <a class='btn  btn-outline-danger mx-3' title='Delete all cart items' href={% url 'delete_all_cart' %}>Remove</a>
        </div>
      </div>
    </div>
  </div>

 
  
{% endblock content %}