{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Bungee+Spice&family=Luckiest+Guy&family=Oswald&family=Pacifico&family=Press+Start+2P&family=Tilt+Prism&display=swap" rel="stylesheet">
{% include 'nav.html' %}
<style>
    #applehome{
        min-height:100vh;
        display:grid;
        align-content:center;
        background-color:white;
    }
    #img{
        
        mix-blend-mode: multiply;
    }
    #img_container{
        width:min(100% - 15px,850px);
        margin-inline:auto;
    }
    {% comment %} #bgi{
        background-image:url({% static 'images/iphonese3.png' %});
        min-height:100vh;
        z-index:1;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;    }
     {% endcomment %}
     #head{
        {% comment %} font-family: 'Bangers', cursive; {% endcomment %}
        {% comment %} font-family: 'Bebas Neue', sans-serif; {% endcomment %}
        {% comment %} font-family: 'Bungee Spice', cursive; {% endcomment %}
        {% comment %} font-family: 'Luckiest Guy', cursive; {% endcomment %}
        {% comment %} font-family: 'Oswald', sans-serif; {% endcomment %}
        {% comment %} font-family: 'Pacifico', cursive; {% endcomment %}
        font-family: 'Press Start 2P', cursive;
        
     }
 
</style>
<!--message-->
<div class='container mt-3'>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id='alert_box'>
            <strong>{{msg}}</strong>
            {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {% endcomment %}
        </div>        
        {% endfor %}
    {% endif %}
</div>
  
  
<section id='applehome'>
    <div class='text-center'  >
        {% comment %} <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft " > {% endcomment %}
                {% comment %} <img src={% static 'images/apple.png' %} id='img_container' />
            <h6 > <mark class='p-2 rounded'>All brand new I phones</mark> </h6> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <h1 id='head'>Store. The best way to buy the products you love.</h1>
    </div>
</section>
{% include 'nav2.html' %}

<section id='applehome'>
    <div class='text-center ' >
        <img src={% static 'images/phones.jpg' %} class='d-block w-100' id='img' />
        <div  class='p-2 bg-light'>
            <h1 id='head'>I Phone 14 Series </h1>
        </div>
        
        <img src={% static 'images/phones2.jpg' %} class='d-block w-100' id='img'  />
    </div>
</section>

<section id='applehome'>
    <div class=''>
        <video src={% static 'video/apple.mp4' %} class='d-block w-100' autoplay loop muted></video>
    </div>
</section>

<section id='applehome' class='container'>

    <div class='text-center'>
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
            <h3 id='head'>Product Categories</h3>
        </div>
        <hr>
        <br>
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
            {% if categories %}
                <div class='row'>
                    {% for item in categories %}
                    <div class='col-sm-3'>
                        <a href={% url 'category_view' item.slug %} style='text-decoration:none;color:black;'>
                        <div class="card d-block w-100 shadow mb-3" style="width: 18rem; height:300px">
                            <img src={{item.category_image.url}} class="card-img-top" alt="..." id='img'>
                            <div class="card-body">
                              <h5 class="card-title">{{item.name}}</h5>
                              <p class="card-text">{{item.description}}</p>
                            </div>
                          </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
</section>
<section id='applehome' class=''>
    <div class='p-5'>
        <h1 class='text-center' id='head'> I Phone 14</h1>
    </div>
    {% comment %} <div class='p-5 featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromTop'> {% endcomment %}
        <div class='text-center'>
            <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromTop m-5">
                <img src={% static 'images/14png.png' %} class='d-block w-100' id='img'/>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class='text-center'>
            <img src={% static 'images/iphone3.gif' %} class='d-block w-100' id='img' />
        </div>
        {% comment %} <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromTop "> {% endcomment %}
            <img src={% static 'images/iphone143.jpeg' %} class='d-block w-100' id='img' />
        {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
</section>
<section id='applehome' class='p-5'>
    <div class='p-5'>
        <h1 class='text-center' id='head'>Brand New I Phone SE</h1>
    </div>
    <br>
    <div class='p-5 featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromTop'>
        <div class='text-center'>
            <img src={% static 'images/iphonese2.jpg' %} class='d-block w-100' id='img' />
        </div>
    </div>
</section>
<section id='applehome'>
    <div class='text-center '>
        <img src={% static 'images/iphonese3.png' %} class='d-block w-100'/>
    </div>
</section>






<!--custom.js-->
<script src={% static 'js/custom_gsap.js' %}></script>

<script>
    let msg_alert = document.getElementById('alert_box')
    setTimeout(()=>{
        msg_alert.style.display = 'none';
    },3000)

</script>
{% include 'footer.html' %}
{% endblock content %}