{% load static %}
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4 ">
      <h2 class="text-body-emphasis h4 text-white">
      </h2>
      <div class='text-white container' >
        <h4>Dear {{request.user.username}} <i class="fa-solid fa-heart fa-fade" style="color: #fafafa;"></i> , </h4>
        <p>Greetings from Apple As we welcome this new day, we hope that it brings you joy, prosperity, and success. We're honored that you've chosen to spend a part of your day with us, and we are committed to making your visit worth your time.
        We sincerely appreciate your interest in our company and we hope that our website will serve as a convenient and helpful resource for you. If you have any questions or need any assistance, please feel free to reach out to us at any time.</p>
        <p>Thank you for visiting, and here's wishing you a splendid day!</p>
        <p>Best regards,</p>
        <p>The Team at Apple </p>
      </div>
      
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark p-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <h1><i class="fa-brands fa-apple"></i></h1>
      </button>
    </div>
  </nav>