

<nav class="navbar navbar-expand-lg bg-body-tertiary p-3 sticky-top " data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" title='Main Menu'></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <a class="nav-link active" aria-current="page" href={% url 'home' %} style='font-size:20px'> <i class="fa-solid fa-house"></i></a>
          </li>
        
          {% if categories %}
            <li class="nav-item dropdown mx-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b style='font-size:20px'>Products</b> <i class="fa-solid fa-mobile-screen-button" style="color: #ffffff;"></i>
              </a>
              <ul class="dropdown-menu">
                {% for item in categories %}
                  <li><a class="dropdown-item mb-2" href={% url 'category_view' item.slug %} style="font-size:18px "><b>{{item}}</b></a></li>
                {% endfor %}
                
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href={% url 'category_show' %}>More</a></li>
              </ul>
            </li>
          {% endif %}
         
          <li class="nav-item mx-3">
            {% if cart %}
              <a class="nav-link" href={% url 'cart' %} ><b style='font-size:20px'>Cart <span class='text-danger'>{{cart_items}}</span></b> <i class="fa-solid fa-cart-shopping fa-bounce" style="color: #f4db80;"></i></a>
            {% else %}
              <a class="nav-link" href={% url 'cart' %} ><b style='font-size:20px'>Cart</b> <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>

            {% endif %}
          </li>
          <li class="nav-item mx-3">
            {% if wishlist %}
            <a class="nav-link" href={% url 'wishlist_show' %}><b style='font-size:20px'>Wishlist <span class='text-danger'>{{wishlist_count}}</span> </b> <i class="fa-solid fa-heart fa-bounce" style="color: #ff0000;"></i></a>
            {% else %}
            <a class="nav-link" href={% url 'wishlist_show' %}><b style='font-size:20px'>Wishlist</b> <i class="fa-solid fa-heart " style="color: #ffffff;"></i></a>
            {% endif %}
          </li>
          <li class="nav-item mx-3">
              {% if order %}
                <a class="nav-link" href={% url 'my_orders' %}><b style='font-size:20px'>My Orders</b> <i class="fa-regular fa-rectangle-list fa-bounce" style="color: #4ce141;"></i></a>
              {% else %}
                <a class="nav-link" href={% url 'my_orders' %}><b style='font-size:20px'>My Orders</b> <i class="fa-regular fa-rectangle-list" style="color: #ffffff;"></i></a>
              {% endif %}
          </li>
        </ul>
        <li class="nav-item" >
          <div class="text-center">
            <form method == 'GET' action={% url 'search' %}>
              <input type='text' placeholder='Search here...' name="search" class='form-control me-5 ms-5 search' />
            </form>
          </div>
        </li>
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b style='font-size:20px'>Settings</b> <i class="fa-solid fa-gear fa-spin"></i>
            </a>
            <ul class="dropdown-menu">
             
                <li><a class="dropdown-item" href="#">About</a></li>
                <li><a class="dropdown-item" href="#">Customer Care <i class="fa-solid fa-headset"></i></a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Logout <i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i></a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <script>
    $(document).ready(function () {
      $('.search').focus(function (e) { 
        e.preventDefault();
        $(this).css("background-color","white");
        $(this).css("color","black");
        
      });
      $('.search').blur(function (e) { 
        e.preventDefault();
        $(this).css("background-color","white");
      });
    });
  </script>