{% extends 'main.html' %}
{% load static %}
{% block title %}Product_view{% endblock title %}

{% block content %}


<style>
    #center{
        display:grid;
        align-content:center;
    }
    .container{
        min-height:100vh;
    }

</style>
{% include 'nav2.html' %}

<section class='container'>

    <div class='mt-2'>
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id='alert_box'>
                <strong>{{msg}}</strong>
                {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {% endcomment %}
            </div>        
            {% endfor %}
        {% endif %}
    </div>

    <div class='row p-5 product_data'>
        <div class='col-sm-6 my-3' id='center'>
            {% if products %}
                {% for item in products %}
                    <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">                        
                        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                {% if item.product_image1 %}
                                    <img src={{item.product_image1.url}} class="d-block w-100" alt="...">
                                {% else %}
                                    <img src={% static 'images/noimages.png' %} class='d-block w-100' />
                                {% endif %}
                              </div>
                            <div class="carousel-item">
                                {% if item.product_image2 %}
                                    <img src={{item.product_image2.url}} class="d-block w-100" alt="...">
                                {% else %}
                                    <img src={% static 'images/noimages.png' %} class='d-block w-100' />
                                {% endif %}                              </div>
                            <div class="carousel-item">
                                {% if item.product_image3 %}
                                    <img src={{item.product_image3.url}} class="d-block w-100" alt="...">
                                {% else %}
                                    <img src={% static 'images/noimages.png' %} class='d-block w-100' />
                                {% endif %}                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class='col-sm-6 ' >
            {% if products %}
                {% for item in products %}
                <div class='text-center'>
                    <h1>{{item.name}} <small>({{item.varient}})</small></h1>
                    <br>
                    <h3> <i class="fa-solid fa-indian-rupee-sign"></i> <span class='text-success'>{{item.offer_price|stringformat:'d'}}/- </span> <small class='text-secondary'><strike>{{item.original_price|stringformat:'d'}}/-</strike></small> <small class='text-white rounded bg-danger fw-3 shadow p-1 d-block w-100 text-center my-3'> {{offer_per|stringformat:'d'}}% off</small>
                    </h3>
                </div>
                <div class=''>
                    <h3>Features</h3>
                    <hr>
                    <p>{{item.description}}</p>
                    <br>
                    <h3>Description</h3>
                    <hr>
                    <p>{{item.small_description}}</p>
                    <br>
                    {% if item.quantity <= 3 and not item.quantity == 0 %}
                    <div>
                        <p class='text-danger'>Only {{item.quantity}} available. secure your order now</p>
                    </div>
                    {% endif %}
                    
                    <h5>Qunatity:</h5>
                    <select class="form-select prod_qty" aria-label="Default select example" style="width:150px;">
                        {% if item.quantity == 1 %}
                        <option selected >1</option>
                        {% elif item.quantity == 2 %}
                        <option selected >1</option>
                        <option >2</option>
                        {% elif item.quantity == 3 %}
                        <option selected >1</option>
                        <option >2</option>
                        <option >3</option>
                        {% elif item.quantity == 4 %}
                        <option selected >1</option>
                        <option >2</option>
                        <option >3</option>
                        <option >4</option>
                        {% else %}
                        <option selected >1</option>
                        <option >2</option>
                        <option >3</option>
                        <option >4</option>
                        {% endif %}
                    </select>
                    {% csrf_token %}
                    <input type='hidden' value={{item.id}} class='prod_id' />
                </div>
                <div id='like'>
                    <p>Do you like this product ? </p>
                    {% if like_icon %}
                        <a href={% url 'Like' item.slug %} title='unlike'><h2><i class="fa-solid fa-thumbs-up"></i></a></h2>
                        {% if item.likes == 1 or item.likes == 0 %}
                            <p>{{item.likes}} like</p>
                        {% elif item.likes == 2 %} 
                            <p>You and {{total_likes}} other liked</p>
                        {% else %}
                            <p>You and {{total_likes}} others liked</p>
                        {% endif %}
                    {% else %}
                        <a href={% url 'Like' item.slug %} title='like'><h2><i class="fa-regular fa-thumbs-up"></i></a></h2>
                        {% if item.likes == 1 or item.likes == 0 %}
                            <p>{{item.likes}} like</p>
                        {% else %} 
                            <p>{{item.likes}} likes</p>
                        {% endif %}
                    {% endif %}
                </div>
                
                <div class='row mt-5 '>
                    <div class='col-sm-12 text-center mb-3'>
                        
                            {% if item.quantity == 0 %}
                                <button class='mx-3 mb-3 cart_btn text-danger'  id='cartbtn' >Out of stock <i class="fa-solid fa-triangle-exclamation fa-fade"></i></button>
                            {% else %}
                            <form>
                                {% if sameprod %}
                                    <a type='button' class='mx-3' id='cartbtn' style="text-decoration:none;color:black; " href={% url 'cart' %}>Go to cart</a>
                                {% else %}
                                    <button class='mx-3 cart_btn mb-3'  id='cartbtn' >Cart <i class="fa-solid fa-cart-shopping fa-fade" style="color: #f9cb24;"></i></button>
                                {% endif %}
                            {% endif %}
                            {% if sameitem %}
                                <a href={% url 'remove_wishlist' item.slug %} id='cartbtn' title='go to  Wishlist' style='text-decoration:none;color:black;'> <i class="fa-solid fa-heart fa-bounce" style="color: #ff0000;"></i></a>
                            {% else %}
                                <button  id='cartbtn' title='click to add wishlist' class='whish_btn'><i class="fa-regular fa-heart" style="color: #ff0000;"></i></button>
                            {% endif %}
                        </form>
                    </div>
                    <div class='text-end '>
                    </div>
                </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</section>
<script>
    let msg_alert = document.getElementById('alert_box')
    setTimeout(()=>{
        msg_alert.style.display = 'none';
    },3000)

</script>

{% endblock content %}