{% extends 'main.html' %}
{% load static %}
{% block title %}Product_view{% endblock title %}

{% block content %}


<style>
    #center{
        display:grid;
        align-content:center;
    }
    .container{
        min-height:100vh;
    }
</style>
{% include 'nav2.html' %}

<section class='container'>
    <div>
        
    </div>
    <div class='row'>
        <div class='col-sm-6 p-5' id='center'>
            {% if products %}
                {% for item in products %}
                
                <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
                    <img src={{item.product_image1.url}} class='d-block w-100' />
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class='col-sm-6 p-5'>
            {% if products %}
                {% for item in products %}
                <div class='text-center'>
                    <h1>{{item.name}} <small>({{item.varient}})</small></h1>
                    <br>
                    <h3> <i class="fa-solid fa-indian-rupee-sign"></i> <span class='text-success'>{{item.offer_price|stringformat:'d'}}/- </span> <small class='text-secondary'><strike>{{item.original_price|stringformat:'d'}}/-</strike></small> <small class='text-white rounded bg-danger fw-3 shadow p-1 d-block w-100 text-center my-3'> {{offer_per|stringformat:'d'}}% off</small>
                    </h3>
                </div>
                <div>
                    <h3>Features</h3>
                    <hr>
                    <p>{{item.description}}</p>
                    <br>
                    <h3>Description</h3>
                    <hr>
                    <p>{{item.small_description}}</p>
                    <br>
                    {% if item.quantity <= 3 and not item.quantity == 0 %}
                    <div>
                        <p class='text-danger'>Only {{item.quantity}} available. secure your order now</p>
                    </div>
                    {% endif %}
                    <h5>Qunatity:</h5>
                    <select class="form-select prod_qty" aria-label="Default select example" style="width:150px;">
                        <option selected >1</option>
                        <option >2</option>
                        <option >3</option>
                        <option >4</option>
                    </select>
                    {% csrf_token %}
                    <input type='hidden' value={{item.id}} class='prod_id' />
                </div>
                <div class='row mt-5 '>
                    <div class='col-sm-12 text-center mb-3'>
                        
                            {% if item.quantity == 0 %}
                                <button class='mx-3 mb-3 cart_btn text-danger'  id='cartbtn' >Out of stock <i class="fa-solid fa-triangle-exclamation fa-fade"></i></button>
                            {% else %}
                            <form>
                                {% if sameprod %}
                                    <a type='button' class='mx-3' id='cartbtn' style="text-decoration:none;color:black; " href={% url 'cart' %}>Go to cart</a>
                                {% else %}
                                    <button class='mx-3 cart_btn mb-3'  id='cartbtn' >Cart <i class="fa-solid fa-cart-shopping fa-fade" style="color: #f9cb24;"></i></button>
                                {% endif %}
                            {% endif %}
                            <button  id='cartbtn' class='whish_btn'>  WishList <i class="fa-sharp fa-solid fa-heart fa-fade" style="color: #ff0026;"></i></button>
                        </form>
                    </div>
                    <div class='text-end '>
                    </div>
                </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}