{% extends 'main.html' %}

{% block title %}Search Result{% endblock title %}

{% block content %}
{% include 'nav2.html' %}
<section class='container'>
    <div>
        {% if products %}
            <div class='row'>
                {% for item in products %}
                <div class='row my-3 border-bottom border-dark'>
                    <div class='col-sm-4 text-center' style='display:grid;align-content:center;'>
                        <a href={% url 'product_view' item.slug %}><img src={{item.product_image1.url}} class='d-block w-75' style='mix-blend-mode: multiply;' /></a>
                    </div>
                    <div class='col-sm-4 text-center' style='display:grid;align-content:center;'>
                        <h3>{{item.name}} ({{item.varient}})</h3>
                    </div>
                    <div class='col-sm-4 text-center' style='display:grid;align-content:center;'>
                        <h4><span class='text-success'>{{item.offer_price|stringformat:'d'}}</span> <small class='text-secondary'><strike>{{item.original_price}}</strike></small></h4>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
    </div>
</section>
{% endblock content %}